div.about .info-container {
  margin: 0 auto;
  width: 60%;
}

div.about .info-container a {
  text-decoration: none;
  color: #ffffff;
}

div.about .info-container span {
  word-break: break-all;
  font-size: 20px;
  margin: 32px;
  border-radius: 40px;
  display: block;
  text-align: left;
  padding: 30px;
  background: #2c3033;
  background: rgba(44, 48, 51, 0.522);
  transition: 340ms;
}

div.about .info-container span div.map {
  margin-top: 20px;
}

div.about .info-container span:hover {
  background: rgba(44, 48, 51, 0.925);
}

@media only screen and (max-width: 814px) {
  div.about .info-container {
    width: 90% !important;
  }
}