body {
  position: relative;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Comfortaa', sans-serif;
  background: #232224;
  color: #ffffff;
}

div.view-container {
  position: relative;
  height: 100%;
}

div.view-container header {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  margin: 32px;
  padding: 16px;
  border-radius: 40px;
  background: #ffffff;
  user-select: none;
  pointer-events: none;
}

div.view-container header img {
  display: inline-block;
  height: 76px;
}

div.view-container header h1 {
  display: inline-block;
  vertical-align: top;
  color: #4f4955;
  font-size: 38px;
}

div.view-container footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 4px;
}

div.view-container footer span {
  font-size: 10pt;
}

div.view-container img.star {
  z-index: 0;
  position: absolute;
  width: 9px;
  height: 9px;
}

div.view-container div.page {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: relative;
}

div.view-container div.page:hover:not(.hide) {
  cursor: pointer;
}

div.view-container div.page > div.tooltip {
  position: absolute;
  top: calc(12vh + 16px);
  left: -11vh;
  height: 32px;
  width: 22vh;
  text-align: center;
  opacity: 1;
  transition: 130ms linear;
}

div.view-container div.page.hide > div.tooltip {
  opacity: 0;
}

div.view-container div.page > div.tooltip::before {
  display: block;
  content: "";
  position: relative;
  left: 0;
  top: 0;
  height: 32px;
  width: 22vh;
  border-radius: 16px;
  background: #4f4955;
  transition: 130ms;
}

div.view-container div.page:hover > div.tooltip::before {
  background: #ffffff;
}

div.view-container div.page > div.tooltip::after {
  content: attr(data-page);
  position: relative;
  top: -26px;
  color: #ffffff;
  transition: 70ms;
}

div.view-container div.page:hover > div.tooltip::after {
  color: #2e2e2e;
}

div.view-container div.page > div.planet {
  position: absolute;
  top: -12vh;
  left: -12vh;
  height: 24vh;
  width: 24vh;
  border-radius: 50%;
  overflow: hidden;
  opacity: 1;
  transition: 90ms transform cubic-bezier(0.575, 0.565, 0.865, 1), 240ms opacity;
}

div.view-container div.page > div.planet::after {
  content: "";
  display: block;
  height: 24vh;
  width: 144vh;
  opacity: 0.23;
  background: url(../images/Clouds.svg) repeat-x;
  animation: menu-slide 6.36s linear infinite;
}

div.view-container div.page:hover > div.planet {
  transform: scale(1.06);
}

div.view-container div.page.hide > div.planet {
  opacity: 0;
}

div.planet > span.cover {
  z-index: 10;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #2e2e2e;
  opacity: 0.1;
  transform: translate(50%, 0);
}

div.view-container div.page > div.container {
  visibility: hidden;
  z-index: 20;
  position: fixed;
  top: 100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
  transition: 760ms top cubic-bezier(0.075, 0.82, 0.165, 1);
}

div.view-container div.page.selected > div.container {
  visibility: visible;
  top: 0;
}

div.view-container div.page > div.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../images/Clouds.svg);
  opacity: 0.145;
}

div.view-container div.page > div.container > div.inner-container {
  overflow-x: hidden;
  position: fixed;
  height: 96vh;
  width: 100%;
  padding-top: 4vh;
}

span.close {
  position: absolute;
  top: 16px;
  left: 16px;
  height: 64px;
  width: 64px;
  text-align: left;
  border-radius: 8px;
  background: rgba(24, 24, 24, 0.245);
  cursor: pointer;
}

span.close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  background: #ffffff;
  border-radius: 4px;
  transform: rotate(-45deg) scaleX(0.5);
  transition: 460ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

span.close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  background: #ffffff;
  border-radius: 4px;
  transform: rotate(45deg) scaleX(0.5);
  transition: 460ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

span.close:hover::before {
  transform: rotate(-45deg) scaleX(1);
}

span.close:hover::after {
  transform: rotate(45deg) scaleX(1);
}

div.view-container div.page.gallery {
  top: 50vh;
  left: 25vw;
}

div.view-container div.page.gallery div.planet {
  top: -11vh;
  left: -11vh;
  height: 22vh;
  width: 22vh;
  background: #afa067;
}

div.view-container div.page.gallery > div.container {
  background: #69613f;
}

div.view-container div.page.sponsors {
  top: 50vh;
  left: 50vw;
}

div.view-container div.page.sponsors div.planet {
  background: #f07400;
}

div.view-container div.page.sponsors > div.container {
  background: #613811;
}

div.view-container div.page.about {
  top: 50vh;
  left: 75vw;
}

div.view-container div.page.about div.planet {
  top: -11vh;
  left: -11vh;
  height: 22vh;
  width: 22vh;
  background: #3373ff;
}

div.view-container div.page.about > div.container {
  background: #224183;
}
.mobile-view-container {
  display: none;
}

@keyframes menu-slide {
  0% {
    transform: translate(0, 0);
  } 100% {
    transform: translate(-48vh, 0);
  }
}

@media only screen and (max-width: 814px) {
  body:not(.opened) {
    height: 200vh;
  }

  footer {
    position: fixed;
    top: 145vh;
    bottom: initial !important;
  }

  .view-container .page {
    left: 50vw !important;
  }

  body:not(.opened) .view-container .page.gallery {
    top: 40vh !important;
  }

  body:not(.opened) .view-container .page.sponsors {
    top: 80vh !important;
  }

  body:not(.opened) .view-container .page.about {
    top: 120vh !important;
  }

  div.view-container > header > img {
    height: 76px;
  }

  div.view-container > header > h1 {
    font-size: 7vw;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}